<!DOCTYPE html>
<html>
    <head>
        <title>Finance Analysis</title>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    </head>

    <body>
        <h1>Hello World!</h1>
        <h2>Welcome to Finance Processor</h2>
        <form>
            <input type="file" id="myFile" name="filename">
            <button type="submit">Upload</button>
        </form>
        <div class="dashboard">
            <br/>
            <form method="POST" action="">
                <label for="start_date" name="start_date">Start Date</label>
                <input name="start_date" type="date"/>
                <label name="end_date">End Date</label>
                <input name="end_date" type="date"/>
                <br>
                <label name="table_type">Table Type:</label>
                <!-- <input name="table_type" type="text"/> -->
                <select name="table_type" id="table_type">
                    <option value="summary">Summary</option>
                    <option value="details">Details</option>
                </select>
                <input type="submit" value="Submit"/>
            </form>
            <br/>
            
            {% block content %}
            {% endblock %}
            
        </div>


    </body>
</html>